USE [master]
GO
/****** Object:  Database [SEC Control]    Script Date: 11.03.2020 1:54:57 ******/
CREATE DATABASE [SEC Control]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SEC Control', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\SEC Control.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SEC Control_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\SEC Control_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SEC Control].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SEC Control]
GO
/****** Object:  Table [dbo].[Pavilion]    Script Date: 11.03.2020 1:54:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pavilion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[number] [int] NOT NULL,
	[name] [varchar](50) NULL,
	[SEC] [int] NOT NULL,
 CONSTRAINT [PK_Pavilion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEC]    Script Date: 11.03.2020 1:54:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEC](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[inn] [int] NOT NULL,
	[login] [varchar](50) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[pass] [varchar](50) NOT NULL,
	[type] [int] NOT NULL,
	[phone] [int] NULL,
	[delete] [int] NULL,
 CONSTRAINT [PK_SEC] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 11.03.2020 1:54:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[id] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11.03.2020 1:54:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[login] [nchar](10) NOT NULL,
	[password] [nchar](10) NOT NULL,
	[type] [int] NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pavilion]  WITH CHECK ADD  CONSTRAINT [FK_Pavilion_SEC] FOREIGN KEY([SEC])
REFERENCES [dbo].[SEC] ([id])
GO
ALTER TABLE [dbo].[Pavilion] CHECK CONSTRAINT [FK_Pavilion_SEC]
GO
ALTER TABLE [dbo].[SEC]  WITH CHECK ADD  CONSTRAINT [FK_SEC_Type] FOREIGN KEY([type])
REFERENCES [dbo].[Type] ([id])
GO
ALTER TABLE [dbo].[SEC] CHECK CONSTRAINT [FK_SEC_Type]
GO
USE [master]
GO
